@import "color.css";

/* account.php*/

.account-body{
    margin: auto;
    max-width: 1300px;
    background-color: white;
}

.account-body h2,h1{
    margin-left: 1rem;
}

.h1-ausloggen h2{
    float: right;
}

/* Account Informationen */

.account-properties{

    margin: 0 1rem;
    background-color: lightgray;
    box-shadow: grey;

}

.account-form form{
    display: flex;
    flex-wrap: wrap;
}

.account-form .account-form-object{
    flex: auto;
    text-align: center;
    margin-top: 1rem;
}

.account-properties label,input{
    width: 10rem;
    height: 2rem;
}

/* Adressen */

.account-adresses{
    display: flex;
    flex-wrap: wrap;

    margin: 1rem;
}
.account-adress-form{
    flex:auto;

    padding:1rem;
    background-color: lightgray;
    margin-bottom: 1rem;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
}

.account-adress-form-object{
    flex: auto;
}

 /* Bestellungen 2.0 */

 
 .account-orderlist-body{
    width: 100%;


}

.account-orderlist-order{
    margin-bottom: 1.5rem;
    margin: 0 1rem;
    width: 100%;
}

.account-order-box{
   background-color: lightskyblue;
   display: flex;
   flex-wrap: wrap;
}

.account-order-subbox{
    text-align: center;    
    flex: auto; 

}

/* LogInSignIn.php */

@media only screen and (min-width: 800){

    .login-box, .signin-box{
        width: 50%;
        
    }


}

@media only screen and (max-width: 800){
    .login-box, .signin-box{
        width: 90%;
    }
}

.logsing-body{
    width: 100%;
}

.logsign-boxes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.login-box, .signin-box{
    flex: auto;

    margin: auto;
}

.logsign-boxes input{
    width: 18rem;
}

.logsign-boxes label{
    text-align: left;
}

.ordered-products-table{
    width: 100%;
}

.logsing-success-message{
    margin: 5px 5% 0 5%;
    padding: 2%;
    border: 1px solid green;
}

.logsing-error-message{
    margin: 5px 5% 0 5%;
    width: auto;
    padding: 2%;
    border: 1px solid red;
}