@import "color.css";

.error-body{
    background-color: var(--background-color);
    
}

.error-message{
    text-align: center;
}

.to-main{
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    width: 16rem;
    height: 23rem;

    border-style: 2px;
    border-color: black;
    
}

.link-picture{
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: auto;
}