@import "color.css";

.error-body{

}

.error-field{
    margin: auto;
    max-width: var(--body-width);
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.error-field h1{
    padding-top: 40px;
    
}

.error-message{
    background-color: var(--header-color) ;
    text-align: center;
    height: fit-content;
    flex: 0 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--background-color-secondary);
}

.error-message p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.to-main{
    margin: 0 auto;  
    text-align: center; 
    flex: 0 0 auto;
    font-size: 1.6rem;
    width: 18rem;
    height: 21rem;

    background-color:white;
}

.link-picture{
    padding: 0;
    margin: 0;
    top: 0;
    width: 18rem;
    height: 10rem;
    background-image: white;
    object-fit: cover;
}

.to-main:hover img{
    width: 15rem;
}