@import "color.css";

/* start.php */

.start-content{
    position:relative;
    text-align: center;
    width: 80%;
    height: 100%;
    background-color:white ;
    flex: 0 0 auto;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
   
}

.burgertext{

    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

.container {
    position: relative;
    text-align: center;
    color: white;}


.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(36, 36, 36);
      }



.startpicture{
    width: 100%;
height: auto;
object-fit: cover;
max-width: 100%;
background-color: rgb(36, 36, 36);


    
}




.tableopenings{
    
    
    
    font-size: 18pt;
    border: 10px solid white;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 30pt;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}



.info{
    color: white;
    background-color: rgb(36, 36, 36);;
    text-align: center;
    width: 100%;

}


/* 
* cart.php
*
*
*
 */
 
@media only screen and (max-width: 800px){
    
    .cart-body{
        width: 100%;
        background-color: white;
        
        min-height: calc(100vh - var(--header-height) - var(--footer-height));
        padding-bottom: 50px;
        margin-bottom: -50px;

    }

    .cart-body h1{
        margin: 0;
        padding: 0.2em 0.5rem;
    }

    .total-number-of-products{
        padding: 0 0.5rem;
        display: inline;

    }

    .sum-of-total-products{
        
        display: inline;

    }

    .goToCartReview{
        width: calc(100vw - 1rem);
        background-color: var(--accent-secondary);
        color: white;
        margin: 0 0.5rem;
        border: none;
        border-radius: 5px;

    }

    .goToCart-Lieferhinweise{
        width: calc(98.9vw - 1rem);
        margin: 0 0.5rem 0 0.5rem;
        border:0.5px solid var(--background-color);
    }
    
    .goToCart-Label{
        display: inline-block;
        margin: 0.7rem 0.5rem 0 0.5rem;

    }

    .cart-product-box{
        margin: 0.5rem 0.5rem;
        background-color: var(--background-color);
        color: white;
        display: flex;
        flex-wrap: wrap;
    }
    .cart-product-picture-link{
        width: 45%;
        flex:auto;
    }
    .cart-product-picture{
        width: 100%;
        max-width: 15rem;
        height: auto;
        margin: auto;
        margin-left: 3%;
    }

    .cart-product-box-right{
        flex: auto;
        margin: 1rem 0 0 4.7%;
        width: 45%;
    }

    .cart-product-box h3{
        padding: 3% 0 0 0;
        margin: 0 0 1rem 0;


    }

    .cart-item-id{
        display: none;

    }

    .totalProductPrice{
        padding-top: 2rem;
    }
    
    .singleProductPrice{
        font-size: calc(1rem - 2px);
    }
    .label-numberOfItem{
        display: block;
        display: inline;
    }

    
    .input-numberOfItem{
        margin-top: 0.3rem;
        width: 35px;
        height: 1rem;
        border: none;
        display: inline;
        background-color: var(--background-color);
        color: white;
        font-size: 1rem;
    }

    .input-numberOfItem:focus{
        background-color: white;
        color: black;
    }

    .cart-product-box-buttons{
        width: 100%;
     
    }

    .cart-product-box input[type=submit]{
        width: 45.3%;
        margin: 2% 2% 2% 2%;
        border: none;
        border-radius: 5px;
        display: inline;
        flex: none;
    }




}




@media only screen and (min-width: 801px){
    .cart-body{
        width: var(--body-width);
        padding-top: 10px;
        margin: auto;
        background-color: white;
        margin-top: -20px;
        min-height: calc(100vh - var(--footer-height) - var(--header-height));
        padding-bottom: 50px;
        margin-bottom: -50px;
    }

    .cart-body h1{
        margin: 1rem 0 2rem 0.5rem;


    }
    .cart-body-left{
        width: calc(100% - 13rem);
        
    }
    .cart-body-right{
        position:sticky;
        margin-top: -1rem;
        float: right;
        display: block;
        width: 13rem;
    
    }

    .total-number-of-products{
        display: inline;
        position: fixed;
        

    }

    .sum-of-total-products{
        margin-top: 2rem;
        display: inline;
        position: fixed;

    }

    .goToCartReview{
        margin-top: 3rem;
        position: fixed;
        border:none;
        background-color: var(--accent-secondary);
        color:white;
        border-radius: 5px;
        width: calc(13rem - 1rem);

    }

    
    .goToCart-Label{
        position: fixed;
        display: inline-block;
        margin-top: 114px;

    }

    .goToCart-Lieferhinweise{
        position: fixed;
        margin-top: calc(0.5rem + 114px);
        width: calc(13rem - 1rem);
        height: 8rem;
        border:0.5px solid var(--background-color);
    }

    .cart-product-box{
        margin: 0.5rem 0.5rem;
        background-color: var(--background-color);
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    .cart-product-picture-link{
        width: 30%;
        flex:auto;
    }

    .cart-product-picture{
        height: 8rem;
        flex: auto;
    }

    .cart-product-box-right{
        flex: auto;
        width: 40%;
    }

    .cart-product-box h3{
        padding: 1rem 0 0 0;
        margin: 0 0 1rem 0 ;

    }

    .cart-item-id{
        display: none;

    }

    .totalProductPrice{

    }

    .singleProductPrice{
        font-size: calc(1rem - 2px);
    }
    .label-numberOfItem{
        display: inline;
    }

    
    .input-numberOfItem{
        margin-top: 0.3rem;
        width: 35px;
        height: 1rem;
        border: none;
        display: inline;
        background-color: var(--background-color);
        color: white;
        font-size: 1rem;
    }

    .input-numberOfItem:focus{
        background-color: white;
        color: black;
    }

    .cart-product-box-buttons{
        width: 30%;

    }   

    .cart-product-box input[type=submit]{
        width: 75%;
        margin: 1rem auto 1rem auto;
        border: none;
        border-radius: 5px;
        display: inline;
    }

    .cart-product-box-buttons{
        flex:auto;
    }
        

}

/**
* Checkout
*
*
**/

.lieferadresse a{
    color: black;
}
@media only screen and (max-width: 800px){
    .checkout-body{
        width: 100%;
        background-color: white;
        margin-top: -20px;
        min-height: calc(100vh - var(--header-height) - var(--footer-height));
        margin-bottom: -50px;
        padding-bottom: 50px;
    }

    .checkout-body h1{
        margin: 20px 0 1rem 0.5rem;
        padding-top: 4px;
    }

    .checkout-body h3{
        margin: 1rem 0 0.5rem 0;
    }
    .checkout-body-right{
       
    }

    .goTo-CheckoutReview{
        margin: 0.5rem 0.5rem;
        width: calc(100vw - 1rem);
        border-radius: 5px;
        background-color: var(--accent-secondary);
        color:white;
        border: none;
        
    }

    .checkout-body-left{
        margin: 0 0.5rem;
    }

    .checkout-adress-box{
        width: calc(100vw - 1.4rem);
        padding: 0.2rem;
        background-color: var(--background-color);
        color:white;

    }

    .checkout-adress-box input{
        width: 1rem;
        height: 1rem;
    }

    .checkout-adress-box label{
        display: inline-block;
        padding: 0.3rem 0;
    }

    /* Adressen */
    
    .choose-payment{

    }

    .choose-payment > input{
        width: 1rem;
        height: 1rem;
        margin: 0.5rem 0 0 0 ;
        
    }

    
    .choose-payment div{
        display: none;
    }
    .choose-payment> input:checked + label + div{
        display: block;
        width: calc(100vw - 3rem);
        padding: 0.5rem 1rem 0.5rem 1rem ;
        color: white;
        background-color: var(--background-color);
    }

    .choose-payment div label{
        margin: 0.5rem 0 0 0;
        display: block;
    }

    .choose-payment div input{
        height: 1.2rem;
        width: 50%;
    }
}

@media only screen and (min-width: 801px){
    
    .checkout-body{
        height: calc(100vh - 50px);
        max-width: 1250px;
        background-color: white;
        margin: auto;
        margin-top: -20px;
        padding-top: 20px;
    }

    .checkout-body h1{
        
        margin: 1rem 0 2rem 0.5rem;
    }
    .checkout-body-right{
        position:sticky;
        margin-top: -1rem;
        float: right;
        display: block;
        width: 13rem;
    }

    .goTo-CheckoutReview{
        margin-top: 1rem;
        position: fixed;
        border:none;
        background-color: var(--accent-secondary);
        color:white;
        border-radius: 5px;
        width: calc(13rem - 1rem);

    }

    .checkout-body-left{
        margin: 0 0 0 0.5rem;
        width: calc(100% - 14rem);
    }

    .checkout-adress-box{
        line-height: 1.5rem;

    }

    .checkout-adress-box input{
        width: 1rem;
        height: 1rem;
    }   

    .checkout-adress-box label{

    }

    .checkout-body-left .checkout-adress-box{
        background-color: var(--background-color);
        color:white;
    }

    
     /* Adressen */
    
     .choose-payment{

    }

    .choose-payment > input{
        width: 1rem;
        height: 1rem;
        margin: 0.5rem 0 0 0 ;
        
    }

    
    .choose-payment div{
        display: none;
    }
    .choose-payment> input:checked + label + div{
        display: block;
        padding: 0.5rem 1rem 0.5rem 1rem ;
        color: white;
        background-color: var(--background-color);
    }

    .choose-payment div label{
        margin: 0.5rem 0 0 0;
        display: block;
    }

    .choose-payment div input{
        height: 1.2rem;
        /* TODO Wegen IBAN die Breite der inputs einheitlich anpassen */
    }

}

/*
* checkoutReview.php
*
*
**/


@media only screen and (max-width: 800px){

    .checkoutReview-body{
        width: 100%;
        background-color: white;
        margin-top: -20px;
        min-height: calc(100vh - var(--footer-height) - var(--header-height));
        padding-bottom: 50px;
        margin-bottom: -50px;
    }

    .checkoutReview-body h1{
        
        margin: 20px 0 1rem 0.5rem;
        padding-top: 4px;
    }

    .checkoutReview-body h3{
        margin: 1rem 0 0.5rem 0;
    }
    .checkoutReview-body-right{
       
    }
    .checkoutReview-body .checkout-product-box{
        background-color: var(--background-color);
        color: white;
    }

    .checkoutReview-body .cart-product-box{
        margin-left: 0;
        margin-right: 0;
    }
    .checkoutReview-body .lieferadresse{
        width: 50%;
        margin: auto;
    }

    .checkoutReview-body .choose-payment{
        margin: auto;
        width: 50%;
    }
    .goTo-CheckoutSuccess{
        margin: 0.5rem 0.5rem;
        width: calc(100vw - 1rem);
        border-radius: 5px;
        background-color: var(--accent-secondary);
        color:white;
        border: none;
        
    }

    .checkoutReview-body-left{
        margin: 0 0.5rem;
    }
    
    /* ProductBox */
    .checkoutReview-product-box{
        background-color: var(--background-color);
        width: calc(100vw - 1rem);
        margin: 1rem 0 ;

        color:white;

        display: flex;
        flex-wrap: wrap;
    }

    .checkoutReview-product-picture-link{
        width: 50%;
    }

    .checkoutReview-product-picture{
        width: 100%;
        height: auto;
    }

    .checkoutReview-item-id{
        display: none;
    }


}



@media only screen and (min-width: 801px){

    .checkoutReview-body{
        width: var(--body-width);
        padding-top: 10px;
        margin: auto;
        background-color: white;
        margin-top: -20px;
        min-height: calc(100vh - var(--footer-height) - var(--header-height));
        padding-bottom: 50px;
        margin-bottom: -50px;
    }

    .checkoutReview-body h1{
        
        margin: 20px 0 1rem 1rem;
        padding-top: 4px;
    }

    .checkoutReview-body h3{
        margin: 1rem 0 2rem 0.5rem;
    }
    .checkoutReview-body-right{
       
        position:sticky;
        margin-top: -1rem;
        float: right;
        display: block;
        width: 13rem;
    }

     .goTo-CheckoutSuccess{
        margin-top: 2.5rem;
        position: fixed;
        border:none;
        background-color: var(--accent-secondary);
        color:white;
        border-radius: 5px;
        width: calc(13rem - 1rem);
        
    }

    .checkout-product-box{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--background-color);
        color: white;
        margin: 0 0.5rem;
    }
    .checkoutReview-body-left{
        margin: 0 0 0 0.5rem;
        width: calc(100% - 14rem);
    }
    
    .checkoutReview-body .cart-product-box{
        display: flex;
        flex-wrap: wrap;
    } 
    .lieferadresse{
        padding-left: 1rem;
        width: 48%;
    }

    .checkoutReview-body .cart-product-box img{
        width: auto;
        height: 10rem;
    }

    .checkoutReview-body .cart-product-box a{
        height: auto;
        width: 40%;
        flex: auto;
    }


    .checkoutReview-body .cart-product-box-right{
        flex: auto;
    }

    .checkoutReview-body h3{
        margin-left: 0;
    }

    /* TODO Muss das mit dem Sticky-footer so sein? */
    /* .push-sticky-footer{
        display: none;
    } */
    
}
