

    @media print{
        
        section{
            color: black;
        }
        .account-order-subbox{
            width: 32%;
        }

        .account-orderlist-order{
            margin-top: 1rem;
        }

        
        .menu-body{
            width: 100%;
        }
        section{
            width: 100%;
        }

        .cart-body img{
            width: 30%;
            height: auto;
        }
        
    }