@import "color.css";


/* everything in products Folder */
.products-body, .productItem-body{
    background-color: white;
    margin: auto;

    /* under this.. is new */
    margin-top: -20px;
    padding-top: 20px;
    max-width: var(--body-width);
    min-height: calc(100vh - var(--header-hight) - var(--footer-heigt));
    margin-bottom: -50px;
    padding-bottom: 50px;
}

/*
* products.php
*
*
** */

.products-header{
    background-color: white;
    margin: auto;
    width: calc(100% - 2rem);
}
.products-subheader{
    text-align: center;
}
/* Filter */

/* new */
.tabs {
    margin-top: 10px;
    max-width: 800px;
    padding-top: 10px;
    position: relative;
    min-height:250px; /* This part sucks */
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab #tab-1,#tab-2,#tab-3,#tab-4{
      display: none;
  }

  .tab > label {
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }
  .tab [type="radio"] {
    opacity: 0;
  }
  .filter-content {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    margin: 15px 0.5rem 0.5rem 0.5rem;
    border: 0.5px wheat solid;
    border-radius: 5px;
    bottom: 0;
    padding: 20px;
    overflow:scroll;
    
    height: auto;
  }
  .filter-content > * {
    opacity: 0;
  }
  

  .tabControl:checked ~ label {
    background-color: var(--accent-primary);
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .filter-content {
    z-index: 1;
  }
  [type="radio"]:checked ~ label ~ .filter-content > * {
    opacity: 1;
  }
/* new end */
/* new bonus */
.filter-content > [type="radio"], [type="checkbox"]{
    width: 1rem;
    height: 1rem;
}
.product-filter [type="submit"]{
    background-color: var(--accent-primary);
    border: none;
    border-radius: 5px;
    color:white;
}
/* TODO sieht irgendwie scheiße aus */
#tab-1 .filter-content [type="radio"]{
    display: inline-block;
    opacity: 1;
    width: 1rem;
    height: 1rem;
    background-color: red;
}
/* newbonuis end */
.toggleProductFilter{
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-primary);
}
#toggleProductFilter{
    display: none;
}
#toggleProductFilter:checked + .product-filter{
    display: block;
}

#toggleProductFilter{
    width: 1rem;
    height: 1rem;
}
.product-filter{
    margin: auto;
    min-height:fit-content;
    background-color: var(--background-color);
    color: white;
    display: none;
}

/* Filter end */
.productItem-body h1{
    text-align: center;
    font-size: 5rem;
}
.product-flex{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;

}

.product-left, .product-right{
    flex: 0 0 auto;
    margin: 2rem;
    font-size: 1.6rem;
    width: 30rem;
    
}

.product-left img{
    border-radius: 2.5rem;
}

.product-picture{

    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(lightgrey, var(--accent-primary));

}

.product-preis h3, h5,h2{
    display: inline-flex;
}

.product-preis h2{
    font-size: 3rem;
}

.product-right form{
    display: inline-flex;
}


.product-right .addToWarenkorb{
    background-color: var(--accent-primary);
    border-radius: 2.5rem;
    border: none;
    width: auto;
}

/* menue.php*/

.menu-body{
    position:relative;
    text-align: center;
    width: 80%;
    height: 100%;
    background-color:white ;
    flex: 0 0 auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    
}

.menu-body h1{
    margin-top: 0; 
    margin-bottom: auto;
    margin-left: 0; 
}

.category-description{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.body-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;

    background-color:white;
}

.body-content .speisekarte-arrow-p{

    display: none;

    
    background-color: orange;
    border-radius: 2.5rem;
    border:0px
}

.speisekarte-arrow:hover + .speisekarte-arrow-p{
    display: block;
    margin: 0;
    padding: 0;
}

.speisekarte-arrow{
    margin: 0;
    padding: 0;
}



.square{
    flex: 0 0 auto;
    margin: 1.8rem;
    font-size: 1.6rem;
    width: 18rem;
    height: 21rem;

    background-color: lightgray;
}

.square-headline{
    margin-bottom: 0;
}

.picture-square{
    width: 100%;
    height: auto;

}
.square-picture{

    
    padding: 0;
    margin: 0;
    top: 0;
    width: 18rem;
    height: 10rem;
    background-image: white;
    object-fit: cover;

}



.square-lower{


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;


}

.square-lower-elements{
    font-size: 1.2rem;
}


.square-lower-elements-description{
    text-align: center;
    margin-top: 0;
    width: 100%;


    font-size: 2rem;

}

.square-lower-elements-description p{
    margin-top: 0; 
}

.addToCard-Button{
    padding: 0.1rem 0.7rem;
    /* border-style: solid ; */
    border-width: 0.0rem;
    border-radius: 1.0rem;
    font-size: 1rem;
    background-color: var(--accent-primary);
    border: 2px solid var(--accent-primary);
    
    /* border-color: var(--color-grey); */
}

.addToCard-Button:hover{
    background-color: lightgrey;
    border: 2px solid var(--accent-primary);
}

.more-Button{
    padding: 0.1rem 0.7rem;
    /* border-style: solid ; */
    border-width: 0.0rem;
    border-radius: 1.0rem;
    font-size: 1rem;
    background-color: lightgrey;
    border: 2px solid lightgray;
    margin-top: 0.5rem; 
    margin-bottom: 2rem; 
}

.more-Button:hover{
    background-color: white;
    border: 2px solid lightgray;
}





