@import "color.css";




/* everything in products Folder */
.products-body, .productItem-body{
    position:relative;
    text-align: center;
    width: 80%;
    height: 100%;
    background-color:white ;
    flex: 0 0 auto;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* products.php */
.productItem-body h1{
    text-align: center;
    font-size: 5rem;
}
.product-flex{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;

}

.product-left, .product-right{
    flex: 0 0 auto;
    margin: 2rem;
    font-size: 1.6rem;
    width: 30rem;
    
}

.product-left img{
    border-radius: 2.5rem;
}

.product-picture{

    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(lightgrey, var(--accent-primary));

}

.product-preis h3, h5,h2{
    display: inline-flex;
}

.product-preis h2{
    font-size: 3rem;
}

.product-right form{
    display: inline-flex;
}


.product-right .addToWarenkorb{
    background-color: var(--accent-primary);
    border-radius: 2.5rem;
    border: none;
    width: auto;
}

/* menue.php*/

.menu-body{
    position:relative;
    text-align: center;
    width: 80%;
    height: 100%;
    background-color:white ;
    flex: 0 0 auto;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    
}

.body-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;

    background-color: var(--background-color);
}

.body-content .speisekarte-arrow-p{

    display: none;

    
    background-color: orange;
    border-radius: 2.5rem;
    border:0px
}

.speisekarte-arrow:hover + .speisekarte-arrow-p{
    display: block;
    margin: 0;
    padding: 0;
}

.speisekarte-arrow{
    margin: 0;
    padding: 0;
}



.square{
    flex: 0 0 auto;
    margin: 1.8rem;
    font-size: 1.6rem;
    border-style: solid;
    width: 16rem;
    height: 23rem;

    border-style: 2px;
    border-color: black;
}

.square-picture{

    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(lightgrey, var(--accent-primary));


    border-bottom: solid 1px black;
}


.square-lower{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;


}

.square-lower-elements{
    font-size: 1.2rem;
}


.square-lower-elements-description{
    text-align: center;
    margin: auto;
    width: 100%;

}

.addToCard-Button{
    padding: 0.1rem 0.7rem;
    /* border-style: solid ; */
    border-width: 0.0rem;
    border-radius: 1.0rem;
    font-size: 1rem;
    background-color: var(--accent-primary);
    
    /* border-color: var(--color-grey); */
}





