header, nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem ;

    background-color: rgb(63, 63, 63);
    text-decoration: none;
    color: white;
}


.logo{
    margin: 0 0 0 3rem;
    font-size: 2.0rem;
    width: auto;
    padding: 0;
    
    white-space: nowrap;
}

.logo > a, nav > ul > li > a{
    text-decoration: none;
    color: white;
    border: solid;
    border-style: outset;
    
    background-color: rgb(42, 123, 160);
    margin: 0.5rem;
    border-color: rgba(0,0,0,0);
    border-radius: 1.0rem;
}




ul{
    list-style-type: none;
    justify-content: space-around;
    font-size: 2.0rem;
    margin: 0 3rem 0 0;
}
